.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(105, 29, 29);
    padding: 10px;
    height: 35px;
  }
  
  .logo img {
    height: 100px;
    align-items: center;
    
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #f39c12;
  }